<div class="my-3">
    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#agregarModalOrden">
        <i class="pi pi-plus"></i> Agregar Orden
    </button>
</div>

<div class="table-responsive-sm">
    <table class="table table-striped">
        <thead>
            <tr class="table-info">
                <th>ID</th>
                <th>Codigo</th>
                <th>Fecha</th>
                <th>Articulo</th>
                <th class="text-center">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{ order.id }}</td>
                <td>{{ order.code }}</td>
                <td>{{ order.date }}</td>
                <td>
                    <ul>

                        <li *ngFor="let article of order.articles">
                            {{ article.code }} - {{ article.name }} - {{ article.unitPrice }}
                        </li>
                    </ul>
                </td>
                <td class="text-center">
                    <button class="btn btn-primary btn-sm me-1" data-bs-toggle="modal"
                        data-bs-target="#editarModalOrden" (click)="order.id && editOrder(order.id)">
                        Editar
                    </button>
                    <button class="btn btn-danger btn-sm me-1" (click)="showConfirmation(order)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Mensaje de confirmacion Toas -->
<p-toast position="top-center" key="confirm" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <strong>
                    <h4 class="text-danger">{{ message.summary }}</h4>
                </strong>
                <p class="text-black">{{ message.detail }}</p>
            </div>
            <div class="text-center">
                <button class="btn btn-danger btn-sm me-2" (click)="confirmDelete()">
                    <i class="fa fa-trash"></i> Eliminar
                </button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="msgService.clear('confirm')">
                    <i class="fa fa-cancel"></i> Cancelar
                </button>
            </div>
        </div>
    </ng-template>
</p-toast>


<div class="modal fade" id="agregarModalOrden" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog draggable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-center">
                <h4 class="modal-title w-100 text-white" id="exampleModalLabel">Agregar Orden</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="orderDetail">
                    <input type="hidden" formControlName="id" class="form-control" id="id">

                    <div class="mb-3">
                        <label class="form-label">Cliente</label>
                        <select formControlName="clientId" class="form-select" id="clientId" required>
                            <option value="" disabled selected>Seleccione un cliente</option>
                            <option *ngFor="let client of clients" [ngValue]="client.id">{{ client.name }} - {{
                                client.lastname }}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Artículo</label>
                        <select formControlName="article" class="form-select" required>
                            <option value="" disabled selected>Seleccione un artículo</option>
                            <option *ngFor="let article of articles" [ngValue]="article">{{ article.name }}
                            </option>
                        </select>
                    </div>
                    <label class="form-label">Cantidad</label>
                    <input type="number" formControlName="cantidad" class="form-control" id="cantidad">
                    <br>
                    <p *ngFor="let list of orderArticles">{{ list.name }}</p>
                    <button type="button" class="btn btn-success btn-sm" (click)="addArticle()"><i
                            class="fa fa-save"></i>Agregar Articulo </button>
                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal"> <i
                                class="fa fa-cancel"></i>Cancelar</button>
                        <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal"
                            (click)="addOrder()"><i class="fa fa-save"></i>Crear Orden </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editarModalOrden" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog draggable">
        <div class="modal-content">
            <div class="modal-header text-center bg-info">
                <h4 class="modal-title w-100 text-black" id="exampleModalLabel">Editar Orden</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="orderDetail">

                    <input type="hidden" formControlName="id" class="form-control" id="id">

                    <div class="mb-3">
                        <label class="form-label">Cliente</label>
                        <select formControlName="clientId" class="form-select" id="clientId" required>
                            <option value="" disabled selected>Seleccione un cliente</option>
                            <option *ngFor="let client of clients" [ngValue]="client.id">{{ client.name }} - {{
                                client.lastname }}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Artículo</label>
                        <select formControlName="article" class="form-select custom-select" multiple required>
                            <option *ngFor="let article of articles" [ngValue]="article.id">
                                {{ article.name }}
                            </option>
                        </select>
                    </div>

                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><span
                                class="fa fa-cancel"></span>Cerrar</button>
                        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
                            (click)="updateOrders()"><span class="pi pi-save"></span> Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>