<div class="my-3">
    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#agregarModalOrden">
        <i class="pi pi-plus"></i> Agregar Orden
    </button>
</div>

<div class="table-responsive-sm">
    <table class="table table-striped">
        <thead>
            <tr class="table-info">
                <th>ID</th>
                <th>Codigo</th>
                <th>Fecha</th>
                <th>Articulo</th>
                <th class="text-center">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{ order.id }}</td>
                <td>{{ order.code }}</td>
                <td>{{ order.date }}</td>
                <td>
                    <ul>
                        <li *ngFor="let article of order.orderArticles">
                            {{ article.articleName }} - {{ article.unitPrice | currency }} - Cantidad: {{ article.quantity }} - Total: {{ article.totalPrice | currency }}
                        </li>
                    </ul>
                </td>
                
                <td class="text-center">
                    <button class="btn btn-primary btn-sm me-1" data-bs-toggle="modal"
                        data-bs-target="#editarModalOrden" (click)="order.id && editOrder(order.id)">
                        Editar
                    </button>
                    <button class="btn btn-danger btn-sm me-1" (click)="showConfirmation(order)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Mensaje de confirmacion Toas -->
<p-toast position="top-center" key="confirm" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <strong>
                    <h4 class="text-danger">{{ message.summary }}</h4>
                </strong>
                <p class="text-black">{{ message.detail }}</p>
            </div>
            <div class="text-center">
                <button class="btn btn-danger btn-sm me-2" (click)="confirmDelete()">
                    <i class="fa fa-trash"></i> Eliminar
                </button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="msgService.clear('confirm')">
                    <i class="fa fa-cancel"></i> Cancelar
                </button>
            </div>
        </div>
    </ng-template>
</p-toast>


<!-- Modal para crear la orden -->
<div class="modal fade" id="agregarModalOrden" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl draggable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-center">
                <h4 class="modal-title w-100 text-white" id="exampleModalLabel">Crear Orden</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="orderDetail">
                    <input type="hidden" formControlName="id" class="form-control" id="id">
                    <!-- Selección del cliente -->
                    <div class="mb-3">
                        <label class="form-label">Cliente</label>
                        <select formControlName="clientId" class="form-select" required>
                            <option value="" disabled selected>Seleccione un cliente</option>
                            <option *ngFor="let client of clients" [ngValue]="client.id">{{ client.name }} {{ client.lastname }}</option>
                        </select>
                    </div>

                    <!-- Selección de artículos -->
                    <div class="mb-3 d-flex align-items-end">
                        <!-- Selección de artículos -->
                        <div class="flex-grow-1 me-2">
                            <label class="form-label">Artículo</label>
                            <select formControlName="article" class="form-select" required>
                                <option value="" disabled selected>Seleccione un artículo</option>
                                <option *ngFor="let article of articles" [value]="article.id">{{ article.name }} - {{ article.unitPrice | currency }}</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-warning" (click)="addToCart()">Añadir al carrito</button>
                    </div>

                    <!-- Carrito de compras -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-info">
                                    <th>Nombre Artículo</th>
                                    <th>Precio Unitario</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of cartItems">
                                    <td>{{ item.articleName }}</td>
                                    <td>{{ item.unitPrice | currency }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.totalPrice | currency }}</td>
                                    <td>
                                        <button (click)="decreaseQuantity(item)" class="btn btn-outline-danger btn-sm me-2"><i class="pi pi-minus"></i></button>
                                        <button (click)="increaseQuantity(item)" class="btn btn-outline-success btn-sm me-2"><i class="pi pi-plus"></i></button>
                                        <button (click)="removeItem(item)" class="btn btn-outline-danger btn-sm"><i class="pi pi-trash"></i> Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" (click)="addOrder()">Crear Orden</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="editarModalOrden" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog draggable">
        <div class="modal-content">
            <div class="modal-header text-center bg-info">
                <h4 class="modal-title w-100 text-black" id="exampleModalLabel">Editar Orden</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="orderDetail">
                    <input type="hidden" formControlName="id" class="form-control" id="id">

                    <div class="mb-3">
                        <label class="form-label">Cliente</label>
                        <select formControlName="clientId" class="form-select" id="clientId" required>
                            <option value="" disabled selected>Seleccione un cliente</option>
                            <option *ngFor="let client of clients" [ngValue]="client.id">{{ client.name }} - {{
                                client.lastname }}</option>
                        </select>
                    </div>

                    <!-- Selección de artículos -->
                    <div class="mb-3 d-flex align-items-end">
                        <div class="flex-grow-1 me-2">
                            <label class="form-label">Artículo</label>
                            <select formControlName="article" class="form-select" required>
                                <option value="" disabled selected>Seleccione un artículo</option>
                                <option *ngFor="let article of articles" [value]="article.id">{{ article.name }} - {{ article.unitPrice | currency }}</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-warning" (click)="addToCart()">Añadir al carrito</button>
                    </div>

                    <!-- Carrito de compras -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-info">
                                    <th>Nombre Artículo</th>
                                    <th>Precio Unitario</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of cartItems">
                                    <td>{{ item.articleName }}</td>
                                    <td>{{ item.unitPrice | currency }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.totalPrice | currency }}</td>
                                    <td>
                                        <button (click)="decreaseQuantity(item)" class="btn btn-outline-danger btn-sm me-2"><i class="pi pi-minus"></i></button>
                                        <button (click)="increaseQuantity(item)" class="btn btn-outline-success btn-sm me-2"><i class="pi pi-plus"></i></button>
                                        <button (click)="removeItem(item)" class="btn btn-outline-danger btn-sm"><i class="pi pi-trash"></i> Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" (click)="updateOrders()">Actualizar</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>